<div class="container">
    <div class="bg-light p-5">
        <form action="/products/{{product._id}}" method="post" class="needs-validation">
          <input type="hidden" name="_method" value="PUT" id="">
            <div class="mb-3">
                <label for="Product" class="form-label">Uid</label>
                <input type="text" class="form-control" name="uid" id="name" value="{{product.uid}}" required>
                <div class="invalid-feedback">
                    Please enter an product uid
                </div>
            </div>
            <div class="mb-3">
                <label for="Product" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="name" id="name" value="{{product.name}}" required>
                <div class="invalid-feedback">
                    Please enter a product name
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Quantity</label>
                <input type="text" name="quantity" class="form-control" id="quantity" value="{{product.quantity}}" required>
                <div class="invalid-feedback">
                    Please enter price
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="text" name="price" class="form-control" id="price" value="{{product.price}}" required>
                <div class="invalid-feedback">
                    Please enter price
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">{{product.description}}</textarea>
            </div>
            <div class="mb-3 text-right">
                <div class="row">
                     <div class="col-6 d-flex justify-content-end">
                        <a href="/dashboard" class="btn btn-secondary">Back</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>